%p
  To create a bunch of teams in the
  %b=@current_tournament.humanize
  tournament, paste in the following text area a series of rows with the following
  %b tab separated columns:
%dl
  %dt Team Name
  %dt Team Number
  %dd For example, 12 or 13. Do not include letters.
  %dt Coach Name
  %dt Coach Email
  %dt Division
  %dd Either "B" or "C".
  %dt Homeroom
  %dt Password

%form{:method=>"POST", :action=>batchnew_teams_path}
  %ul.tabs{ data: { tabs: 'tabs' } }
    %li.active
      %a#tab-import{ href: '#import' } Import
    %li
      %a#tab-preview{ href: '#preview' } Preview
  .tab-content
    #import.tab-pane.active
      %p
        If you are about to make a spreadsheet with these values, here is a
        template you can use the
        = link_to 'Batch Team Input Template', 'https://docs.google.com/spreadsheet/ccc?key=0AgQhM9vFx8X8dFhtODFxTGRwa0REV3JFaWpvVFJLTnc'
      %fieldset
        %input{:type=>"hidden",:name=>"authenticity_token",:value=>form_authenticity_token}
        %textarea#batch-input{:style=>"width:650px; height:200px;",:name=>"batch"}
    #preview.tab-pane
      Please wait, loading preview...
  %fieldset
    .clearfix
      =label_tag 'send_email', 'Send Passwords via Email'
      .input
        =check_box_tag 'send_email', 'true', :checked => 'checked'
        %span.help-block
          %b Note:
          This will send an email to all coaches containing their passwords.
  .actions
    %input.btn.primary{:type=>"submit", :value=>"Submit Batch Teams"}

- content_for :javascripts do
  :javascript
    $('body').tabs('.tabs li > a');

    $('.tabs').on('change', function(e) {
      if ($(e.target).is('#tab-preview')) {
        var $tabBody = $('#preview');
        $tabBody.html('Please wait, loading preview...');

        $tabBody.load('#{batchpreview_teams_path}', {
          batch : $('#batch-input').val()
        }, function(resp, status, xhr) {
          if (status === 'error') {
            $tabBody.html('An error occurred while parsing your input! Please ' +
            'double-check the formatting.');
          }
        });
      }
    });
