:javascript
  $(function() {
    $(".states").hide();
    $("table#teams-table").tablesorter({sortList: [[0,0]]});
  });
  var show_qualified_buttons = function() {
    $(".states").toggle();
  }
.alert-message.block-message.info
  These are the teams competing in this tournament. Click Edit next to a team to change its details.
  .alert-actions
    =link_to "Add New Team", new_team_url, :class=>"btn"
    =link_to "Import Teams", teams_batchnew_url, :class => "btn"
    =link_to "Select State Qualifiers", "javascript:show_qualified_buttons()", :class=>"btn"
%p
  Below are all the teams registered for the Tournament occurring on
  = @current_tournament.humanize() + "."

%table.zebra-striped.condensed-table#teams-table
  %thead
    %th
      %b Team Name
    %th
      %b Division
    %th
      %b Team Number
    %th.states
      %b Qualified For States
  %tbody
    - @teams.each do |t|
      %tr
        %td=link_to t.name, edit_team_url(t)
        %td=t.division
        %td=t.getNumber
        %td.states
          - if t.qualified_for_states
            =link_to "Qualified!", team_qualify_url(t), :class=>"btn success"
          - else
            =link_to "Didn't Qualify", team_qualify_url(t), :class=>"btn"
