:javascript
  $(function() {
    $("table#teams-table").tablesorter({sortList: [[0,0]]});
  });
%p
  Below are all the teams registered for the Tournament occurring on
  = @current_tournament.humanize() + "."

%table.zebra-striped.condensed-table#teams-table
  %thead
    %th
      %b Team Name
    %th
      %b Division
    %th
      %b Team Number
  %tbody
    - @teams.each do |t|
      %tr
        %td=link_to t.name, edit_team_url(t)
        %td=t.division
        %td=t.getNumber
=link_to "Add New Team", new_team_url
