= flash[:message]
%div
  = ["Division ", @division, " Login"].join " "
%div.bluebox
  =form_tag login_url(@division)
  %table{:width => 400}
    %tr
      %td
        %b Select A Team
      %td
        =select(:team, :id, @teams.map { |x| [x[:name], x[:id]] })
    %tr
      %td 
        %b Password
      %td
        =password_field_tag :password, "",:size => 10
    -if @captcha == true
      %tr
        %td{:colspan => 2}
          =recaptcha_tags :display => ["white"]
  =submit_tag "Login"
