%p
  To register for event timeslots, you must login as a competiting team. Passwords have been sent to the coach of each team.
  %b
    Each team
  has a unique password, even in the case of multiple teams from the same school.
%p
  If you have forgotten or misplaced your password, please contact 
  %a{:href => "mailto:#{@current_school.admin_email}"}
    =@current_school.admin_name
  to receive a new one.
.page-header
  %h2 Login Form
=form_tag login_url(@division)
.clearfix
  %label{:for=>"team_id"}
    %b Select A Team:
  .input
    =select(:team, :id, @teams.map { |x| [x[:name], x[:id]] })
.clearfix
  - if not session[:user].nil? and session[:user].is_admin_of(@current_school)
    %b You are an admin.
    Click Login to log in as this team. You can change this team's password once logged in.
  - else
    %label{:for=>"password"}
      %b Password:
    .input
      =password_field_tag :password, "",:size => 20
    -if @captcha == true
      =recaptcha_tags :display => ["white"]
.clearfix
  .actions
    %input{:type=>"hidden", :name=>"is_admin", :value=>"false"}
    =submit_tag "Login", :class=>"btn primary"
:javascript
  $(function(){ mpq.track("View Login Page"); });
