- if not flash[:error].nil?
  %p.errorbox
    =flash[:error]
%p
  To register for event timeslots, you must login as a competiting team. Passwords have been sent to the coach of each team.
  %b
    Each team
  has a unique password, even in the case of multiple teams from the same school.
%p
  If you have forgotten or misplaced your password, please contact 
  %a{:href => "https://www.case.edu/cgi-bin/directory/pb_lookup.cgi?search_text=james+bader&submit.x=0&submit.y=0&submit=Search&search_method=regular&page_num=1"}
    Jim Bader
  to receive a new one.
%div.bluebox
  =form_tag login_url(@division)
  %table#login{:width => 400}
    %tr
      %td
        %b Select A Team:
      %td
        =select(:team, :id, @teams.map { |x| [x[:name], x[:id]] })
    - if not session[:user].nil? and session[:user].is_admin
      %tr
        %td{:colspan=>2}
          %p 
            %b You are an admin. 
            Click Login to log in as this team. You can change this team's password once logged in.
    - else
      %tr
        %td 
          %b Password:
        %td
          =password_field_tag :password, "",:size => 20
      -if @captcha == true
        %tr
          %td{:colspan => 2}
            =recaptcha_tags :display => ["white"]
  =submit_tag "Login"
:javascript
  $(function(){ mpq.track("View Login Page"); });
