%h3="#{@current_school.name} Information"
=form_for(@current_school, :url=>admin_school_update_url, :html=>{:multipart=>:true}) do |f|
  %fieldset
    .clearfix
      =f.label :admin_name, "Primary Contact:"
      .input
        =f.text_field :admin_name
    .clearfix
      =f.label :admin_email, "Email:"
      .input
        =f.text_field :admin_email
    .clearfix
      =f.label :logo, "School Logo:"
      .input
        =f.file_field :logo
    .clearfix=image_tag @current_school.logo.url(:medium)
  %fieldset
    %p To make any changes, you must enter your password again:
    .clearfix
      =label :current_password, "Current Password:"
      .input
        =password_field_tag :current_password
  .actions
    =f.submit "Submit Changes", :class=>"btn primary"
