%p
  Your team is currently registered for the following time slots. Please ensure that your team members know these times.
%div
  %table#timeslot
    %tr{:style => "background-color:#fff"}
      %td
        %b Event
      %td
        %b Room Number
      %td
        %b Reserved Timeslot
    - @sign_ups.each do |s|
      %tr
        %td
          =link_to(s.timeslot.schedule.event,s.timeslot.schedule)
        %td
          =s.timeslot.schedule.room
        %td
          =s.timeslot.begins.strftime("%I:%M %p")
:javascript
  $(function(){ mixpanel.track("View All Signups"); });
