%p
  Your team is currently registered for the following time slots. Please ensure that your team members know these times.
%div
  %table#timeslot
    %tr{:style => "background-color:#fff"}
      %td
        %b Event
      %td
        %b Room Number
      %td
        %b Registered Time
    - @sign_ups.each do |s|
      %tr
        %td
          =link_to(s.schedule.event,s.schedule)
        %td
          =s.schedule.room
        %td
          =s.time.strftime("%I:%M %p")


