%p Are you sure you want to make the following reservation?
%div.bluebox
  %table#timeslot
    %tr
      %td 
        %b Team Name:
      %td=@signup.team.name
    %tr
      %td
        %b Event Name:
      %td=@signup.timeslot.schedule.event
    %tr
      %td
        %b Time:
      %td=@signup.timeslot.begins.strftime("%I:%M %p")
%div{:align=>"center", :style => "padding-top:15px"}
  %b Your registration is not saved until you click on "Yes" below!
  %br
  = link_to("Yes, I want to reserve this time.",confirmsignup_url(@signup.timeslot))
  %br
  = link_to("No, take me back to where I just was.", schedule_url(@signup.timeslot.schedule))
