- if @is_admin_signup
  .alert-message.alert
    %b Note:
    You are permitted to register this team for this event only because you are logged in as an administrator. Registration for teams is not currently open.
%h4 Are you sure you want to make the following reservation?
%div
  %table#timeslot
    %tr
      %td
        %b Team Name:
      %td=@signup.team.name
    %tr
      %td
        %b Event Name:
      %td=@signup.timeslot.schedule.event
    %tr
      %td
        %b Time:
      %td=@signup.timeslot.begins.strftime("%I:%M %p")
%div.actions
  = link_to("Reserve This Slot!", timeslot_confirm_path(@signup.timeslot), :class=>[:btn, :primary])
  = link_to("Never Mind", schedule_url(@signup.timeslot.schedule),:class=>:btn)
:javascript
  $(function() { mpq.track("SignUp Confirmation", {event: "#{@signup.timeslot.schedule.event}", timeslot: #{@signup.timeslot.id}}); });
