.page-header
  %h2 
    ="#{@current_school.name} Admin Panel"
    %small=link_to "Edit Information", admin_school_edit_url
.page-header
  %h3 
    ="#{@current_tournament.humanize} Tournament"
    %small=link_to "Change Tournament", tournaments_path
.row
  .span4
    %h3
      =link_to "#{@all_schedules.values.flatten.length} Events", admin_events_url
    %h3
      =link_to "#{@teams.length} Teams", teams_url
  .span4
    %h3
      =link_to "Scoring", admin_scores_url
.actions
  %a.btn{:href=>admin_scorespublish_url} Publish Scores
