@charset "UTF-8";

/************* CWRU Main Header [2010] *************/
body, html { margin: 0;}
#cwruHeader {
	width:100%;
	height: 55px;
	position: relative;
	background-color: #0a304e;
	margin:0;
	padding:0;
	border-bottom:1px solid #999;
}
#cwruHeaderContent {
	height: 55px;
	width: 960px;
	position: relative;
	margin:auto;
}
.logo {
	height: 55px;
	width: 205px;
	position: absolute;
	left: 1px;
	top: 2px;
}
/*// navigation*/
#cwruMainNav {
	height: 55px;
	position: absolute;
	right: 183px;
	width: 319px;
}
#cwruMainNav ul {
	margin: 0px;
	list-style:none;
	position: absolute;
	right: 0px;
	top: 0px;
	float: left;
	width: 260px;
}
#cwruMainNav li {
	float: left;
}
#cwruMainNav li a:link, #cwruMainNav li a:visited  {
	height: 55px;
	display: block;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	text-decoration: none;
	padding-top: 1.7em;
	padding-right: 0.85em;
	padding-bottom: 0;
	padding-left: 0.85em;
	float: left;

}
#cwruMainNav li a:hover, #cwruMainNav li a:active  {
	text-decoration: underline;
}
/*// optional - current*/
#cwruMainNav li a.current, #cwruMainNav li a.current:hover, #cwruMainNav li a.current:active   {
	cursor: default;
	text-decoration: none;
	background-repeat: repeat-x;
	background-position: top;
	background-image: url(../images/hover-bg.jpg);
	}

/*// search elements*/
.cwruSearch input {
	background-color: #315f80;
	position: absolute;
	right: 30px;
	width: 140px;
	top: 2px;
	float: right;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	font-weight: normal;
	font-size: 0.85em;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	padding-top: .03em;
	height: 20px;
	border: none;
}
.cwruSearch {
	height: 20px;
	width: 175px;
	float: right;
	position: relative;
	margin-top: 15px;
	margin-bottom: 11px;
}
.searchBtn {
	height: 20px;
	width: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.cwruSearch form .btn {
	width: 30px;
	position: absolute;
	right: 0px;
	display: block;
}
