
/************************************************************** Top Navigation **********/

/* // Navigation Holder */

#umcNav {
	width:100%;
	position: relative;
	background-color: #E7E7E7;
	margin-top: 3px;
	margin-right: 0;
	margin-left: 0;
	z-index:1;

}

#topNavWrapper {
	margin:auto;
	position: relative;
	width: 960px;
	height: 28px;
}
#topnav, #topnav ul {
	list-style:none;
	padding:0;
	margin:0;

}
#topnav li {
	float:left;
	position:relative;
	width: 6em;
}
#topnav li ul {
	position:absolute;
	margin-top:-.09em;
	margin-left:.03em;
	display:none;

}
#topnav ul li ul {
	margin-top:-2.1em;
	margin-left:13em;
}

#topnav li:hover ul, #topnav li.over ul {
	display:block;
}
#topnav li:hover ul ul, #topnav li.over ul, #topnav li:hover ul ul ul  {
	display:none;
}
#topnav ul li:hover ul, #topnav ul li.over ul, #topnav  ul ul li:hover ul {
	display:block;

	
}
#topnav a {
	display: block;
	text-decoration: none;
	font-size: 0.7em;
	font-family: Arial, Helvetica, sans-serif;
	color: #004674;
	font-weight: bold;
	text-align: center;

}
#topnav a:hover {
	background:#0a304e;
	color:#F4F4F4;
}
#topnav ul li a {
	color: #fff;
	padding: 7px 8px 6px 22px;
	font-weight: normal;
	width: 180px;
	background:#0a304e;
	text-align:left;
	
}
#topnav ul li a:hover {
	background:#315f80;

}

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */


