@charset "UTF-8";
/* Science Olympiad Customizations */
  /* These look awful and waste paper when printed.
   * Clearly, not acceptable. */
#cwruHeader {display:none;} 
#feature {display:none;}
#umcNav {display:none;}
#footer {display:none;}
div.sideLink{display:none;}
div.blankH{display:none;}

.action {display:none;}
/* Print Stylesheet for UMC */

body {
	margin:0;
	padding:0;
	font-family: Helvetica, sans-serif;
	color:black;
	
}
h1, h2, h3, h4, h5  {
	color:#000;
	text-decoration:underline;
}
p {
	font-size: 10pt;
	line-height: 14pt;
	width: 6in;
	margin-left: .25in;
}
blockquote {
	font-size: 14pt;
	font-style: italic;
	width: 4in;
	margin-left: .25in;
}
