%p
  You are now editing the tournament scheduled for
  =@tournament.humanize() + "."
=form_for(@tournament, :html=>{:multipart=>:true}) do |f|
  .clearfix
    =f.label :date, "Date:"
    .input.small
      =f.date_select :date, {}, :class=>"small"
  .clearfix
    %label Registration Begins:
    .input.small
      =f.datetime_select :registration_begins, {}, :class=>"small"
  .clearfix
    %label Registration Ends:
    .input
      =f.datetime_select :registration_ends, {}, :class=>"small"
  .clearfix
    %label Homepage Photo:
    .input
      =f.file_field :homepage_photo
      .help-block 
        This image is shown on the homepage. Use this to upload a logo for the 
        %b event.
      =image_tag @tournament.homepage_photo.url(:medium)
  %p.actions
    =f.submit "Submit Changes", :class=>"btn primary"
%p
  =link_to "< All Tournaments", tournaments_url
