.alert-message.block-message.info
  This is the page containing all tournaments at #{@current_school.name}. To change the tournament that the site is displaying, select another tournament as the current tournament.
  .alert-actions
    =link_to "New Tournament", new_tournament_url, :class=>"btn small"
%p
  Please select a Tournament to edit:
=form_tag(tournament_activate_url) do
  %table
    %tr
      %td 
        %b Edit Link
      %td
        %b Active
      %td 
        %b Delete?
    -@tournaments.each do |t|
      %tr
        %td{:width => 300}
          =link_to t.humanize(), edit_tournament_url(t)
        %td
          =radio_button_tag(:current, t.id, t.is_current==true)
        %td
          =link_to "Delete", tournament_url(t), :method => :delete, :confirm => "Are you sure you wish to delete this Tournament? If you delete this, all the corresponding teams, events, and signups will be deleted! Click 'OK' to delete."
  %tr
    %td

    %td
      =submit_tag "Set Active", :class => "btn"
