%p
  Filling out this form will create a new Tournament in this system. A new tournament is useful to stage changes before going live -- at which point the "current tournament" can be changed to the new Tournament.
%p
  Each Tournament has a set of 
  %b Teams, Events, and Registrations.
  These will be have to be recreated for each tournament.
%div.bluebox.smalllinks
  -form_for(@tournament) do |f|
    %table
      %tr
        %td
          %b Tournament Date:
        %td=f.date_select :date
      %tr
        %td
          %b Registration Begins:
        %td=f.datetime_select :registrationBegins
      %tr
        %td
          %b Registration Ends:
        %td=f.datetime_select :registrationEnds
    %p=f.submit
    
