%p
  Filling out this form will create a new Tournament in this system. A new tournament is useful to stage changes before going live -- at which point the "current tournament" can be changed to the new Tournament.
%p
  Each Tournament has a set of 
  %b Teams, Events, and Registrations.
  These will be have to be recreated for each tournament.
-form_for(@tournament) do |f|
  %fieldset
    .clearfix
      %label
        %b Tournament Date:
      .input
        =f.date_select :date, {}, :class=>"small"
    .clearfix
      %label
        %b Registration Begins
      .input
        =f.datetime_select :registration_begins, {}, :class=>"small"
    .clearfix
      %label
        %b Registration Ends:
      .input
        =f.datetime_select :registration_ends, {}, :class=>"small"
    .clearfix.actions
      =submit_tag "Create Tournament", :class=>"btn primary"
  
