- if !@active.show_scores?
  .alert-message.warning
    %b Note:
    These scores have not been released yet. They will be released automatically at 8pm on the night of the tournament or when
    =link_to "Publish Scores", admin_scorespublish_url
    is pressed.
%ul.tabs{:"data-tabs"=>"tabs"}
  %li.active
    %a{:href=>"#division_B"}
      Division B
  %li
    %a{:href=>"#division_C"}
      Division C
  %li
    %a{:href=>"#download"}
      Download Scores
%div.tab-content
  %div.tab-pane#download
    %h3
      =link_to "Download Scores as CSV", tournament_scores_url(@active, :format=>"csv")
      (for Excel)
    %h4 More download methods will be posted later...
  - Team.divisions.values.each do |d|
    %div.tab-pane.active{:id=>"division_#{d}"}
      %table.scores-table.condensed-table.zebra-striped{:id=>"scores_table_#{d}"}
        %thead
          %th{:width=>"300px"}
            Team Name
          - @events[d].each do |e|
            %th
              %div.outer
                %div.inner=e.event
          %th 
            %div.outer
              %div.inner Total
          %th
            %div.outer
              %div.inner Placement
        %tbody
          - ranking = 0
          - num_at_place = 1
          - lastval = []
          - @teams_by_rank[d].each do |t, rank_matrix|
            %tr
              %td=t.name
              - @events[d].each do |e|
                - res = e.scores.select{|x| x.team==t}.first
                - if res
                  %td=res.placement
                - else
                  %td 
              %td=rank_matrix[0]
              - if rank_matrix == lastval
                - num_at_place += 1
                %td=ranking
              - else
                - ranking += num_at_place
                - num_at_place = 1
                %td=ranking
    :javascript
      $(function(){
        $("table#scores_table_#{d}").tablesorter({sortList:[[#{@events[d].length+2},0]]})
      });
