%p
  Below are the designated timeslots for this event. Timeslots that have been reserved by another team are greyed out. To sign up for a timeslot, click the word "Available!" next to the desired time.

- if not @currentreg.nil?
  %div.alert-message.info="Your team is registered in the #{@currentreg.timeslot.begins.strftime("%I:%M %p")} timeslot."
%div.smalllinks
  %table#timeslot{:width => "100%", :style=>"padding:0;margin:0;"}
    %thead
      %th Timeslot
      %th Availability
      - if not session[:team].nil?
        %th Sign Up
    - @allslots.each do |ts|
      = render :partial=>"schedules/timeslot", :locals => {:ts => ts}
      /
        - tr_id = ""
        - slots_remaining = ts.team_capacity - ts.sign_ups.length
        - if slots_remaining == 0 and not (not session[:user].nil? and session[:user].is_admin)
          - tr_id = "unavailable"
        - if not @currentreg.nil? and ts.id == @currentreg.timeslot_id
          - display = session[:team].name
          - giveoptions = true
          - tr_id = "current"
        - else
          - display = "Available: " + slots_remaining.to_s + " Slot(s)"
          - giveoptions = false
%p{:align=>"center"}
  For Event Organizers And Administrators:
  = link_to("View as PDF", schedule_url(@schedule) + ".pdf")
