- if not flash[:error].nil?
  %p.errorbox
    = flash[:error]
%p
  Below are the designated timeslots for this event. Timeslots that have been reserved by another team are greyed out. To sign up for a timeslot, click the word "Available!" next to the desired time.
%div{:class => ["bluebox", "smalllinks"]}
  %table#timeslot{:width => "100%", :style=>"padding:0;margin:0;"}
    %tr
      %td
        %b Timeslot
      %td
        %b Availability
    - @allslots.each do |ts,signup|
      - tr_id = "unavailable"
      - if signup.nil?
        - tr_id = ""
      - if not signup.nil? and not session[:team].nil? and signup.team_id == session[:team].id
        - display = session[:team].name
        - giveoptions = true
        - tr_id = "current"
      - else
        // Perhaps add in an option to allow the system to show
        //  the other team names instead of "taken", optionally.
        - display = "Taken!"
        - giveoptions = false
      %tr{:id => tr_id}
        %td{:width => "25%"}
          = ts.strftime("%I:%M %p")
        %td{:width => "75%"}
          - if not signup.nil?
            =display
            - if giveoptions == true
              =link_to("(Unregister)",destroysignup_url(@schedule, ts.to_i),:class=>"action")
          - else
            =link_to("Available!",newsignup_url(@schedule, ts.to_i))
