%h1 Foundry &gt; Sign-Up
%p Congratulations! Your school has been registered!
%br
%p Please check your email for instructions on how to get started.
%br
%p=link_to 'Go to your school\'s page now', @school_url
