%h2  Welcome to the Science Olympiad Registration Platform

.well
  Perhaps you meant:
  %ul
    %li= link_to 'Case Western Science Olympiad', 'http://cwru.sciolyreg.org'
    %li= link_to 'Akron Science Olympiad', 'http://akron.sciolyreg.org'
