= stylesheet_link_tag 'fonts.css'
:css
  body, html {
    font-family: PTSansRegular, Helvetica;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: PTSansBold, Helvetica;
    font-weight: normal;
  }
  .introduction {
    font-size:24px;
    font-family: PTSansBold, Helvetica;
    color: #999;
  }
  .title {
    line-height: 1.2em;
    font-size: 96px;
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 24px;
    line-height: 1.2em;
  }
  .section {
    margin: 40px 0;
  }
.row
  .span12
    .section
      %p.introduction Introducing...
      %h1.title Foundry
      %h2.subtitle Tournament Management Platform
    .section
      %h3
        Foundry is a
        %em free, open-source
        solution for managing a Science Olympiad Tournament.
  .span4
    .page-header
      %h2 View Examples
    %p Foundry has been used to host multiple Northeast Ohio tournaments.
    %p
      =link_to 'Visit CWRU Site', 'http://cwru.sciolyreg.org', :class => 'btn'
    %p
      =link_to 'Visit Akron Site', 'http://akron.sciolyreg.org', :class => 'btn'
    .page-header
      %h2 Sign Up
    %p
      Hosting your tournament with Foundry is quick, easy, and will always be
      free.
    =link_to 'Sign Up Now', new_school_url, :class => 'btn primary'
/
  .row
    .well
      Perhaps you meant:
      %ul
