= flash[:error]
%p
  Welcome to the website for Case Western Reserve University's Science Olympiad Tournament. 
%p
  Please check back here periodically for event updates.
%p.bluebox
  %a{:href => "#"}
    2011 Schedule of Events
%p
  Also, this year, Case will use an online event registration system for teams. Using a username and password which was sent to coaches, the teams can log in and reserve timeslots for walk-in events. Please click the corresponding link below to log in to the registration system.
%p.bluebox
  %b
    Register for Walk-in Events
  %br
  %a{:href => login_url("B")}
    Division B
  %span{:style => "margin:0px 10px;"}
    &nbsp;
  %a{:href => login_url("C")}
    Division C
%p
  Case Western Reserve's Science Olympiad tournament is hosed by the 
  =link_to "Center for Science and Mathematics Education.", "http://case.edu/artsci/csm/"
