- content_for :javascripts do
  =javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js'
  :javascript
    $(function() {
      $("#register_school").validate({
        errorClass: 'help-inline',
        errorElement: 'span',
        highlight: function(element, errorClass) {
          $(element).parent().parent().addClass("error");
        },
        success: function(label) {
          label.parent().parent().removeClass("error");
        },
        rules: {
          'tournament_director[password_confirmation]': {
            equalTo: "#tournament_director_password",
          }
        }
      });
    });
%h1 Foundry &gt; Sign-Up
%p
  You're one form away from trying Foundry at your invitational! Remember that
  Foundry is and always will remain free to use.
-if flash[:error]
  .alert-message.error= flash[:error]

%section
  =form_tag '/schools/new', :multipart => true, :id => 'register_school', :class => 'form' do
    %fieldset
      %legend First, tell us a little about your school
      .clearfix
        =label_tag 'school[name]', 'School Name'
        .input
          =text_field_tag 'school[name]', '', :class => 'required'
      .clearfix
        =label_tag 'school[time_zone]', 'Time Zone'
        .input
          =time_zone_select 'school', 'time_zone', ActiveSupport::TimeZone.us_zones, :default => 'Eastern Time (US & Canada)'
      .clearfix
        =label_tag 'school[logo]', 'Logo (optional)'
        .input
          =file_field 'school', :logo

    %fieldset
      %legend Next, tell us about your tournament
      .clearfix
        =label_tag 'tournament[title]', 'Tournament Title'
        .input
          =text_field_tag 'tournament[title]', '', :class => 'required'
      .clearfix
        =label_tag 'tournament[date]', 'Tournament Date'
        .input
          =date_select 'tournament', 'date', {:order => [:month, :day, :year]}, :class => 'required span2'

    %fieldset
      %legend And, create your user account
      .clearfix
        =label_tag 'school[admin_name]', 'Director Name'
        .input
          =text_field_tag 'school[admin_name]', '', :class => 'required'
      .clearfix
        =label_tag 'school[admin_email]', 'Director Email'
        .input
          =text_field_tag 'school[admin_email]', '', :class => 'required email valid'
      .clearfix
        =label_tag 'tournament_director[password]', 'Password'
        .input
          =password_field_tag 'tournament_director[password]', '', :class => 'required'
      .clearfix
        =label_tag 'tournament_director[password_confirmation]', 'Confirm Password'
        .input
          =password_field_tag 'tournament_director[password_confirmation]', '', :class => 'required'

    %fieldset
      %legend Then, choose your address for your tournament
      .clearfix
        =label_tag 'school[subdomain]', 'Address'
        .input
          %span http://
          =text_field_tag 'school[subdomain]', '', :class => 'span2 required'
          %span .sciolyreg.org

    %fieldset
      %legend Finally, prove you're not a robot
      .input{ style: "width: 318px" }
        = recaptcha_tags ajax: true

    .actions
      =submit_tag 'Sign Up!', :class => 'btn primary'

