%p
  Welcome,
  = @team.name + "."
  On this site, you will find all you need to complete registration for the upcoming Science Olympiad tournament.
- if not @current_tournament.has_registration_begun()
  %p.errorbox
    Note: Registration begins
    = @current_tournament.registration_begins.strftime("%B %d, %Y %I:%M %p")
%div.bluebox.smalllinks
  %h3 
    %b Things To Do
  %ul{:style => "text-align:left"}
    %li=link_to("View Events That You Can Register For",schedules_url)
    %li=link_to("View All Your Registrations", signups_url)
    %li=link_to "Change Password", edit_team_url(@team.id)
    %li=link_to "Logout", logout_url
