@import 'sass-enhance';

$color-dark-blue: #004674;
$base-font-size: 14px;

body, html {
  margin: 0;
  height: 100%;
  min-width: 320px;
  font-size: $base-font-size;
  font-family: 'ClearSansRegular', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: #0E4C7D;
  text-decoration: none;
}

.alert-message p {
  color: #fff;
}

p {
  color: #333;
  font-weight: normal;
  line-height: 1.5;
}

p img {
  border: 1px solid #E8E8E8;
}

img {
  border: none;
}

b, strong, th, label {
  font-weight: normal;
  font-family: 'ClearSansBold', Helvetica, Arial, sans-serif;
}

.site-title-container {
  background-color: $color-dark-blue;
  margin-bottom: 30px;
  overflow: auto;
}

.site-title {
  font-size: 22px;
  font-family: 'ClearSansBold', Helvetica, Arial, sans-serif;
  margin: 12px;
  line-height: 1.3;

  @include enhance(tablet) {
    font-size: 36px;
    padding-top: 90px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.site-menu-icon {
  color: #fff;
  float: right;
  font-size: 24px;
  padding: 14px;
  margin-left: 10px;

  &:hover {
    color: #eee;
  }
}

.site-menu-close-icon {
  color: $color-dark-blue;
  float: right;
  font-size: 24px;
  padding: 14px;
  margin-left: 10px;
  padding-right: 29px;
}

.site-menu-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #efefef;
  display: none;
  z-index: 1;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  overflow-x: hidden;
  overflow-y: scroll;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 65px 0 0 0;
    padding: 0;
  }

  li {
    &:first-child a {
      border-top: 1px solid #ddd;
    }

    a {
      border-bottom: 1px solid #ddd;
      line-height: 38px;
      display: block;
      padding-left: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:active {
        background-color: #ccc;
      }
    }
  }

  h3 {
    font-size: 14px;
    padding: 7px 0 7px 14px;
    margin: 14px 0 0 0;
    background-color: #ccc;
  }
}

.sidebar-school-logo {
  margin: 30px 0;
  width: 100%;
}

/* Bootstrap Overrides */
.nav-pills > li.active > a {
  background-color: $color-dark-blue !important;
}

/* Homepage */
.home-important-dates {
  border-left: 2px solid $color-dark-blue;
  margin: 15px 0 15px 5px;
  padding: 10px 0 10px 20px;

  .home-important-dates-header {
    font-size: 24px;
    margin: 0 0 5px;
    line-height: 1.3;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

/* Logged out Homepage */
.jumbotron {
  background-color: $color-dark-blue;
  padding: 90px 0 30px 0;

  p {
    font-size: 24px;
    font-family: 'ClearSansMedium', Helvetica, sans-serif;
    color: #ccc;
  }

  h1, h2, h3 {
    color: #fff;
  }

  h1 {
    font-family: 'ClearSansBold', Helvetica, sans-serif;
  }

  h2 {
    font-family: 'ClearSansLight', Helvetica, sans-serif;
  }
}

.feature-header {
  text-align: center;
  font-size: 36px;
  font-family: 'ClearSansLight', Helvetica, sans-serif;
}

/* Customizations for CWRU-SCIOLY */
.bluebox {
  background-color:#D4F0FF;
  border:4px dashed #0A304E;
  padding:20px;
  margin:auto;
  text-align:center;

  &.smalllinks a {
    font-size:1em;
  }

  a {
    font-size:26px;
  }

  table {
    margin: auto;
  }
}

table#timeslot {
  width:100%;
  padding:0px;
  margin:0px;
  border-collapse:collapse;

  td {
    margin:0px;
    padding:6px 0px;
    vertical-align:middle;
  }

  tr#current { 
    // Timeslot reserved by the team that is logged in 
    background-color:#0A304E;
    color:#FFF;
  }

  tr#unavailable { 
    // Timeslot reserved by the team that is logged in 
    color:#999;
  }

  tr#current a {
    color:#FFF;
    text-decoration:underline;
  }
}

div#recaptcha_area {
  margin:auto;
}

.help-block {
  a {
    &:link, &:visited {
      color:#BFBFBF;
    }
    &:hover {
      color:#B0B0B0;
    }
  }
}

/* ********************* Layout Elements ******************************** */

// Scoresheet styles
table .header {
  cursor:pointer;
}
table .header:after {
  content:"";
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#000 transparent;
  visibility:hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color:rgba(141, 192, 219, 0.25);
  text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
}
table .headerSortDown:after, table .headerSortDown:hover:after{
  visibility:visible;
  filter:alpha(opacity=60);
  -khtml-opacity:0.6;
  -moz-opacity:0.6;
  opacity:0.6;
}
table .headerSortUp:after {
  border-bottom:none;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-top:4px solid #000;
  visibility:visible;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  filter:alpha(opacity=60);
  -khtml-opacity:0.6;
  -moz-opacity:0.6;
  opacity:0.6;
}

table.scores-table {
  width:1150px;

  th {
    font-size:0.8em;

    div.outer {
      width:2em;
      height:125px;

      div.inner {
        -moz-transform:rotate(270deg);
        -webkit-transform:rotate(270deg);
        -ms-transform:rotate(270deg);
        -o-transform:rotate(270deg);
        width:240px;
        position:relative;
        right:110px;
      }

      div.trial {
        color:#999;
      }
    }
  }
}

.expanded-true {
  .span11 {
    width:1150px;
  }

  .span16 {
    width:1150px;
  }
}
