%h3 Welcome to Foundry!

Hello, welcome to Foundry! Your tournament is almost ready to go.
You're going to have to do the following things:
%ol
  %li Set up teams
  %li Set up events
  %li Pick dates for things
