.alert-message.block-message.info
  These are the teams competing in this tournament. Click Edit next to a team to change its details.
  .alert-actions
    =link_to "Add New Team", new_admin_team_url, :class=>"btn"
    =link_to "Import Teams", batchnew_admin_teams_path, :class => "btn"
    =link_to "Select Qualifiers", "javascript:show_qualified_buttons()", :class=>"btn"
%p
  Below are all the teams registered for the Tournament occurring on
  = @current_tournament.humanize() + "."

%table.table.table-striped#teams-table
  %thead
    %th
      %b Team Name
    %th
      %b Division
    %th
      %b Team Number
    %th.states
      %b Qualified
  %tbody
    - @teams.each do |t|
      %tr
        %td=link_to t.name.presence || '(no name)', edit_team_url(t)
        %td=t.division
        %td=t.getNumber
        %td.states
          - if t.qualified
            = link_to "Qualified!", admin_team_qualify_path(t), :class=>"btn success"
          - else
            = link_to "Didn't Qualify", admin_team_qualify_path(t), :class=>"btn"

- content_for :javascripts do
  :javascript
    $(function() {
      $(".states").hide();
      $("table#teams-table").tablesorter({sortList: [[0,0]]});
    });
    var show_qualified_buttons = function() {
      $(".states").toggle();
    }
