#cwruHeader
  #cwruHeaderContent
    .logo
      %a{:href => "http://case.edu/", :target => "_parent"}
        =image_tag @current_school.logo.url(:logo), {:height=>"75"}
        /
          %img{:alt => "cwru logo", :border => "0", :height => "50", :src => "http://case.edu/umc/stage/images/cwru-logo.png", :width => "235"}/
    #cwruMainNav
      %ul
        %li
          %a{:href=>"#"} Hey look, there's text in here
