#footer
  .footerContent
    .footerLeftCol
      .footerSearch
        %form#searchForm.searchForm{:action => "http://www.google.com/u/cw", :method => "get", :name => "searchForm", :target => "_parent"}
          %input{:name => "q", :type => "hidden", :value => "inurl:www.case.edu/umc"}
          %input{:name => "", :onfocus => "if(!this._haschanged){this.value=''};this._haschanged=true;", :type => "text", :value => "search school/dept..."}
          %input.btn{:name => "submit", :src => "http://case.edu/webdev/umc_test/images/searchIcon.jpg", :type => "image"}
      .footerLeftC
        \© 2010 Case Western Reserve University, Cleveland, Ohio 44106, 216.368.2000 (
        %a{:href => "http://www.case.edu/legal.html"}> legal notice
        )
    .footerMiddleCol
      %ul
        %li 
          .footerHeader CWRU
        %li
          %a{:href => "http://www.case.edu/"} | Main
        %li
          %a{:href => "http://www.case.edu/think"} | Research
        %li
          %a{:href => "http://case.edu/admissions/"} | Admissions
    .footerRightCol
      %ul
        %li 
          .footerHeader RoR
        %li
          %a{:href => "http://www.rubyonrails.org/"} | Ruby on Rails
        %li
          %a{:href => "http://www.ruby-lang.org/"} | Ruby Lang
        %li
          %a{:href => "http://guides.rubyonrails.org/"} | Guides
    .footerRightCol
      %ul
        %li 
          .footerHeader Contact
        %li
          %a{:href => "http://github.com/Make-Lab/"} 
            %img{:src => "/images/github.png"} &nbsp;Git Hub 
        %li
          %a{:href => "http://www.facebook.com/pages/CWRU-Make-Lab/126948534016578"} 
            %img{:src => "/images/facebook.png"} &nbsp;Facebook 
        %li
          %a{:href => "https://twitter.com/cwru_make_lab"} 
            %img{:src => "/images/twitter.png"} &nbsp;Twitter
