#simpleFooter
  .simpleFooterContent
    Hosted for free with Guacamole. 
    =link_to "Learn more about Guacamole, including how to host your competition with it.", "http://tomdooner.com/guacamole"
    Guacamole is free and open-source software hosted on 
    =link_to "GitHub.", "https://github.com/ted27/scioly-reg"
    To report technical problems, please e-mail 
    =link_to "Tom Dooner.", "mailto:tomdooner@gmail.com"
