#simpleFooter.noprint
  .simpleFooterContent
    Hosted for free with Guacamole. 
    =link_to "Learn more about Guacamole, including how to host your competition with it.", "http://tomdooner.com/guacamole"
    Guacamole is free and open-source software hosted on 
    =link_to "GitHub.", "https://github.com/ted27/scioly-reg"
    To report technical problems, please e-mail 
    =link_to "the webmaster.", "mailto:tomdooner@gmail.com"
    If you are an administrator for this event,
    =link_to "click here to log in.", adminlogin_url
