#simpleFooter
  .simpleFooterContent
    .simpleFooterLeftCol
      .simpleFooterSearch
        %form#searchForm.searchForm{:action => "http://www.google.com/u/cw", :method => "get", :name => "searchForm", :target => "_parent"}
          %input{:name => "q", :type => "hidden", :value => "inurl:www.case.edu/umc"}
            %input{:name => "", :onfocus => "if(!this._haschanged){this.value=''};this._haschanged=true;", :type => "text", :value => "search school/dept..."}
              %input.btn{:name => "submit", :src => "http://case.edu/webdev/umc_test/images/searchIcon.jpg", :type => "image"}/
    .simpleFooterMCol
      %div
        %ul
          %li
            %a{:href => "http://case.edu/artsci/csm"} Center for Science and Math Education
          %li
            %a{:href => "http://ced.osu.edu/scioly/"} Ohio Science Olympiad
          %li
            %a{:href => "http://soinc.org"} National Science Olympiad
          %li
            %a.borderN{:href => adminlogin_url()} Admin Login
  .legal
    \© 2010 Case Western Reserve University, Cleveland, Ohio 44106, 216.368.2000 (
    %a{:href => "http://www.case.edu/legal.html"}> legal notice
    )
