#feature
  #featureHolder
    .featureContent
      %h1 Science Olympiad 2011
      %p
        The Case Western Regional Science Olympiad Tournament will be held on February 26th, 2011. For more information, please visit the 
        =link_to("Science Olympiad information website","http://case.edu/artsci/csm/sciolymp.htm") + "."
    .featureImg
      %img{:alt => "", :height => "180", :src => "/images/P1014792.png", :width => "400"}
