=image_tag("sciolylogo_transparent.png", :width=>"181", :style=>"margin-bottom:20px")
%p
  %b Date Of Tournament:
  %br
  = @current_tournament.humanize
%p
  %b Registration Begins:
  %br
  = @current_tournament.human_times[:registration_begins]
%p
  %b Registration Ends:
  %br
  = @current_tournament.human_times[:registration_ends]
