%h4{:style => "margin-bottom:10px"}
  2011 Regional Science Olympiad
=image_tag("sciolylogo.jpg")
%p
  %b Events Begin:
  February 26th, 2011 @ 9:30am
%p
  %b Registration Begins:
  February 1st, 2011 @ 4:00pm
%p
  %b Registration Ends:
  February 17th, 2011 @ 11:59pm
