%h4{:style => "margin-bottom:10px"}
  2011 Regional Science Olympiad
=image_tag("sciolylogo.jpg")
%p
  %b Date Of Tournament:
  = @current_tournament.humanize
%p
  %b Registration Begins:
  = @current_tournament.human_times[:registration_begins]
%p
  %b Registration Ends:
  = @current_tournament.human_times[:registration_ends]
