!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :lang=>"en", :"xml:lang"=>"en"} 
  %head
    %title
      Slide Shows in XHTML
    %link{:rel=>"stylesheet",:type=>"text/css", :media=>"screen, projection, print", :href=>"http://www.w3.org/Talks/Tools/Slidy2/styles/slidy.css"}
    %script{:src=>"http://www.w3.org/Talks/Tools/Slidy2/scripts/slidy.js",:charset=>"utf-8",:type=>"text/javascript"}
    :css
  %body
    %div.slide
      %h1 Slide 1
    =yield
